h2 {
    display: flex;
    justify-content: center;
    margin: 30px auto 30px;
    width: 350px;
    font-size: 30px;
    // color: #99460b;
    color: #5b4636;;
    // box-shadow: 0 0 20px #99460b;
    box-shadow: 0 8px 15px #e7ab6cd4;
    background-color: #e7ab6cd4; //0.3 задает прозрачность
}

.subtitle {
    display: flex;
    justify-content: center;
    margin: 30px auto 30px;
    font-size: 30px;
    color: #99460b;
}

.container-recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
    // transition: 1s;
    :hover {
        transform: scale(1.03);  //+
    }
}

.category-dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 20%;
    height: 350px;
    border-radius: 5%;
    margin: 20px;
    // background-color: #e7ab6cd4; //0.3 задает прозрачность
    // background-color: rgb(249, 243, 251, 0.3);
    transition: 1s;
    // box-shadow: 0 0 20px #99460b;
    box-shadow: 0px 10px 15px 5px #e7ab6cd4;
    text-decoration: none;
}

.food-img-recipe {
    width: 320px;
    height: 220px;
    border-radius: 3%;
    pointer-events: none;
}

.food-name-recipe {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    background-image: radial-gradient(ellipse, #99460b, #e59e55);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 350px;
    margin-left: 44px; // ПОМЕНЯТЬ
    pointer-events: none;
}

.spinner {
    height: 100vh;
}
