.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 394px;
    height: 350px;
    border-radius: 5%;
    margin: 20px;
    background-color: rgb(179, 147, 211, 0.3); //0.3 задает прозрачность
    transition: 1s;
    box-shadow: 0 0 20px #553c9a;
    text-decoration: none;
}

.food-img {
    width: 320px;
    height: 220px;
    border-radius: 3%;
    pointer-events: none;
}

.food-name {
    font-size: 30px;
    font-weight: bold;
    background-image: radial-gradient(ellipse, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 10px;
    pointer-events: none;
}
