.app-header {
    width: 50%;
    margin: 0 auto;
    font-size:70px;
    font-weight: 600;
    background-image: radial-gradient(ellipse, #99460b, #e59e55);
    color: transparent;
    background-clip: text; // фон закрашивается внутри (обрезается) текста переднего плана
    -webkit-background-clip: text;
}

.app-header span {
    color: white;
}

hr {
    height: 10px;
    background-image: radial-gradient(circle, #99460b, #e59e55);
}

.navigation {
    font-size: 30px;
    color: #5b4636;
    display: flex;
    margin-top: 20px;
    width: 600px;
    margin: 0 auto;
    justify-content: space-around;
}

.nav-link {
    width: 190px;
    display: flex;
    justify-content: center;
}

.active {
    color: #5b4636;
    text-decoration: none;
    background-color: #e7ab6cd4;
    border-radius: 5px;
    box-shadow: 0 8px 15px #e7ab6cd4;
    display: flex;
    justify-content: center;
    width: 100%;
    // width: 190px; // ?????????????????????????????????????
}

a {
    color: #5b4636;
    text-decoration: none;
}